{#def
    book: object,
    oob: bool = False,
#}

{% set before_title = "Book " ~ "%02d" | format(book.number) %}

<div id="book-page-header"{% if oob %} hx-swap-oob="true"{% endif %}>
  <shared.PageHeader title={{ book.name }} before_text={{ before_title }} back_url={{ url_for('index.index') }} back_text="Back Home">
  </shared.PageHeader>
</div>
