{#def terms: list = [], active_term: object = None, trait: object = None, subcategory: object = None #}
<shared.PageLayout title="Dictionary">
<div class="flex flex-col gap-4">

  {% set add_attrs = 'hx-get="' ~ url_for('dictionary.term_form') ~ '" hx-target="#term-detail" hx-swap="innerHTML"' %}
  {% set add_btn %}

    <shared.CommonButton variant="add" extra_attrs={{ add_attrs }}>Add Term</shared.CommonButton>
  {% endset %}
  <shared.PageHeader title="Dictionary" actions={{ add_btn }} />

  <div class="flex flex-col lg:flex-row lg:border lg:border-base-300 lg:rounded-box lg:overflow-hidden"
       style="--dict-height: calc(100vh - 12rem)">

    <div class="{{ 'hidden lg:flex' if active_term else 'flex' }} flex-col lg:w-56 lg:min-w-56 lg:border-r lg:border-base-300 lg:bg-base-200 lg:h-[var(--dict-height)]">
      <div class="p-2 lg:border-b lg:border-base-300">
        <dictionary.components.SearchBar />
      </div>
      <div class="lg:flex-1 lg:overflow-hidden">
        <dictionary.partials.TermList terms={{ terms }} active_term_id={{ active_term.id if active_term else "" }} />
      </div>
    </div>

    <div id="term-detail"
         class="{{ 'block' if active_term else 'hidden lg:block' }} lg:flex-1 lg:overflow-y-auto lg:h-[var(--dict-height)]">
      <dictionary.partials.TermDetail term={{ active_term }} trait={{ trait }} subcategory={{ subcategory }} />
    </div>
  </div>
</div>
</shared.PageLayout>
