{% set ctx = global_context() %}
{% set active_campaign_id = request.view_args.get("campaign_id", "") if request.view_args else "" %}
<div class="hidden flex-none lg:block">
  <ul class="menu menu-horizontal navbar-center">
    <li>
      <a href="{{ url_for('dictionary.index') }}"
         class="{% if request.path.startswith('/dictionary') %}active{% endif %}">
        Dictionary
      </a>
    </li>
    {% if requesting_user() and is_admin() %}
      <li>
        <a href="{{ url_for('admin.audit_log') }}"
           class="{% if request.path.startswith('/admin') %}active{% endif %}">
          Admin
          {% if ctx.pending_user_count > 0 %}
            <shared.PingBadge extra_class="ml-1" />
          {% endif %}
        </a>
      </li>
    {% endif %}
    <li>
      <details x-data @click.outside="$el.removeAttribute('open')">
        <summary>Campaigns</summary>
        <ul class="p-2 bg-base-100 text-base-content z-1 w-max right-0">
          {% for c in ctx.campaigns | sort(attribute="name") %}
            <li>
              <a href="{{ url_for('campaign.campaign', campaign_id=c.id) }}"
                 class="{% if c.id == active_campaign_id %}active{% endif %}">
                {{ c.name }}
              </a>
            </li>
          {% endfor %}
          {% if not ctx.campaigns and not can_manage_campaign() %}
            <li><span class="text-base-content/60 px-2">No campaigns</span></li>
          {% endif %}
          {% if can_manage_campaign() %}
            {% if ctx.campaigns %}
              <div class="divider mt-1 mb-1"></div>
            {% endif %}
            <li>
              <a x-data @click="document.getElementById('campaign-create-modal').showModal()">
                + Add New Campaign
              </a>
            </li>
          {% endif %}
        </ul>
      </details>
    </li>
    <li>
      <details x-data @click.outside="$el.removeAttribute('open')">
        <summary class="list-none cursor-pointer">
          <shared.UserAvatar user={{ requesting_user() }} size="w-10" />
        </summary>

        <ul tabindex="-1"
            class="menu dropdown-content bg-base-100 text-base-content rounded-box z-1 mt-3 w-52 p-2 shadow right-0">
          <li>
            <a href="{{ url_for('profile.profile', user_id=requesting_user().id) }}" class="justify-between">Profile</a>
          </li>
          {% if approved_company_count() >= 2 %}
            <li>
              <a href="{{ url_for('auth.select_company') }}">Switch Company</a>
            </li>
          {% endif %}
          <li>
            <a x-data @click="document.getElementById('logout-form').submit()">Logout</a>
          </li>
        </ul>
        <shared.LogoutForm />
      </details>
    </li>
  </ul>
</div>
