{#def
    section: FullSheetTraitSection,
    post_url: str,
#}

<div class="divider text-lg uppercase tracking-wide font-semibold text-base-content/75">
  {{ section.name | title }}
</div>
<div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
  {% for category in section.categories %}
    <shared.traits.TraitCategory section_name={{ section.name }} category={{ category }} post_url={{ post_url }} />
  {% endfor %}
</div>
