{#def
    book: object,
    campaign: object,
    chapters: list,
    all_books: list = [],
    assets: list = [],
    note_count: int = 0,
#}
<shared.PageLayout title={{ book.name }}>
<div class="flex flex-col gap-4">

  <shared.layout.CampaignChrome
      campaign={{ campaign }}
      active="books"
      show_admin={{ is_admin() }} />

  <h1 class="sr-only">Books &amp; Chapters</h1>

  <div class="surface-card px-4 pt-4 pb-3 sm:px-6 sm:pt-6">
    <book.components.BookCarousel
        campaign={{ campaign }}
        books={{ all_books }}
        current_book={{ book }} />
  </div>

  <book.partials.BookContentCard
      book={{ book }}
      campaign={{ campaign }}
      assets={{ assets }}
      chapters={{ chapters }}
      note_count={{ note_count }} />
</div>
</shared.PageLayout>
