{#def
    chapter: object,
    book: object,
    campaign: object,
    chapters: list = [],
    assets: list = [],
    note_count: int = 0,
#}
<shared.PageLayout title={{ chapter.name }}>
<div class="flex flex-col gap-4">

  <shared.layout.CampaignChrome campaign={{ campaign }} active="books" show_admin={{ is_admin() }} />

  <shared.layout.BookStrip book={{ book }} campaign={{ campaign }} />

  <h1 class="sr-only">{{ chapter.name }}</h1>

  <div class="surface-card px-4 pt-4 pb-3 sm:px-6 sm:pt-6">
    <chapter.components.ChapterCarousel campaign={{ campaign }} book={{ book }} chapters={{ chapters }} current_chapter={{ chapter }} />
  </div>

  <chapter.partials.ChapterContentCard chapter={{ chapter }} book={{ book }} campaign={{ campaign }} assets={{ assets }} note_count={{ note_count }} />
</div>
</shared.PageLayout>
