{#def color="error", extra_class="" #}
<span class="inline-grid *:[grid-area:1/1] {{ extra_class }}">
  <span class="status status-{{ color }} animate-ping"></span>
  <span class="status status-{{ color }}"></span>
</span>
