{#def
    user,
    size="w-10"
#}

{% if user.discord_profile and user.discord_profile.avatar_url %}

  {% set avatar_url = user.discord_profile.avatar_url %}

{% elif user.github_profile and user.github_profile.avatar_url %}

  {% set avatar_url = user.github_profile.avatar_url %}

{% elif user.google_profile and user.google_profile.avatar_url %}

  {% set avatar_url = user.google_profile.avatar_url %}

{% else %}

  {% set avatar_url = none %}

{% endif %}

{% if avatar_url %}
  <div class="avatar {{ size }}">
    <img alt="{{ user_display_name(user) }}"
         src="{{ avatar_url }}"
         class="rounded-full" />
  </div>
{% else %}
  {# Derive initials from the resolved display name so they match the name shown beside the avatar #}
  {% set name_words = user_display_name(user).split() %}
  <div class="avatar avatar-placeholder">
    <div class="bg-neutral text-neutral-content {{ size }} rounded-full">
      <span>{{ name_words[0][0] | upper }}{{ name_words[1][0] | upper if name_words | length > 1 else "" }}</span>
    </div>
  </div>
{% endif %}
