{#def active="audit_log", pending_count=0 #}
<div role="tablist" class="tabs tabs-border" hx-boost="true" hx-swap="innerHTML show:no-scroll transition:true" hx-target="body">
  <a role="tab"
     class="tab {% if active == 'audit_log' %}tab-active{% endif %}"
     href="{{ url_for('admin.audit_log') }}">Audit Log</a>
  <a role="tab"
     class="tab {% if active == 'settings' %}tab-active{% endif %}"
     href="{{ url_for('admin.settings') }}">Settings</a>
  <a role="tab"
     class="tab {% if active == 'users' %}tab-active{% endif %}"
     href="{{ url_for('admin.users') }}">
    Users
    {% if pending_count > 0 %}
      <shared.PingBadge extra_class="ml-2" />
    {% endif %}
  </a>
</div>
