{#def
    chapter: object,
    book: object,
    campaign: object,
#}

{% set editable_param = 'true' if can_manage_campaign() else 'false' %}

<div id="crud-chapter_notes"
     hx-get="{{ url_for('chapter_view.chapter_notes', campaign_id=campaign.id, book_id=book.id, chapter_id=chapter.id) }}?editable={{ editable_param }}"
     hx-trigger="load"
     hx-swap="innerHTML">
  <span class="loading loading-spinner loading-sm"></span>
</div>
