{#def
    chapter: object,
    book: object,
    campaign: object,
    oob: bool = False,
#}

{% set before_title = "Chapter " ~ "%02d" | format(chapter.number) %}

<div id="chapter-page-header"{% if oob %} hx-swap-oob="true"{% endif %}>
  <shared.PageHeader title={{ chapter.name }} before_text={{ before_title }} back_url={{ url_for('book_view.book_detail', campaign_id=campaign.id, book_id=book.id) }} back_text="Back to Book">
  </shared.PageHeader>
</div>
